#resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../media
FileSystem=../media/fonts
FileSystem=../media/materials/programs
FileSystem=../media/materials/scripts
FileSystem=../media/materials/textures
FileSystem=../media/materials/textures/fire
FileSystem=../media/models
FileSystem=../media/models/GenTownSet1
FileSystem=../media/models/DungeonSet1
FileSystem=../media/models/GraveyardSet1
FileSystem=../media/models/foliage
FileSystem=../media/models/TowerRuins
FileSystem=../media/primitives
FileSystem=../media/particle
FileSystem=../media/ui
FileSystem=../media/ui/Core

Zip=../media/packs/skybox.zip
Zip=../media/packs/cubemapsJS.zip
